.App {

  border-right: 2px solid black;
  border-left: 2px solid  black;
}
.header{
  width: 99.9%;
  height: 100px;
  border-top: 3px solid black;
  border-right: 2px solid black;
  border-left: 2px solid  black;
  background: #191919;
}
.footer{
  width: 99.9%;
  height: 85px;
  border-bottom: 3px solid black;
  border-right: 2px solid black;
  border-left: 2px solid  black;
  background: #191919;
}
.container{
  display: flex;
  max-width: 1350px;
  min-height: 100%;
  margin: 0 auto;
  border-right: 2px solid black;
  border-left: 2px solid  black;
}
.block{
  height: 100%;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  margin: 1%;
  position: relative;
  padding: 8px;
}
.addFoot{
  height: 485px;
  width: 40%;
  border: 2px solid black;
  margin: 1% 0 1% 1%;
  position: relative;
  padding: 8px;
}
.addItem{
  position: absolute;
  font-size: 16px;
  top: -5.5%;
  left: 3%;
  background: #ffffff;
  width: 100px;
  text-align: center;
}
.order{
  position: absolute;
  font-size: 16px;
  top: -5.5%;
  left: 3%;
  background: #ffffff;
  width: 150px;
  text-align: center;
}